.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  gap: 10px;
}

.dont-click {
  width: 5rem;
  border-radius: 0px;
  margin: 2rem;
  font-size: 10px;
  position: absolute;
}

.enter-button {
  width: 10rem;
  border-radius: 0px;
}
.welcome-text {
  font-size: 14px;
}
